.activeChords {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    right: 5pt;
    top: 40%;
    flex-direction: column;
    width: max-content;
    border-style: solid;
    border-color: rgb(80, 153, 255, 0.5);
    z-index: 9;
    /*to not loose selection*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.activeChordsElement {
    min-width: 16.66%;
    color: white;
    background-color: #5099FF;
    height: 25pt;
    width: 35pt;
    text-align: center;
}
    .activeChordsElement:hover, .activeChordsElement:active{
        background-color: rgb(80, 153, 255, 0.5);
        cursor:pointer;
    }

    @media (min-width:961px)  {      
        .activeChords{
            left: 30%;
            top: 20%;
        }
        .editAreaEditor{width: 50%;
        margin-left: 35%;}
        }