.editMenu{
    display: inline-block;
    position: relative;
    width: 85%;
    min-height: 20%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: 15%;
    color: white;
    
}
.verseMenu{
    display: flex;
    flex-direction: column;

}
