.alternatives a{
    font-size: 18px;
    color: #5099FF;
    line-height: 28px;
}

.alternatives{
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width 270px;
    display: inline-block;
    position: relative;
    top: 30px;
}