.watchLine{
    width: 100%;
    background-color: #5099FF;
    height: 220px;
    min-width: 520px;
}

.watchLineInfo{
    width: 30%;
    float: left;
}

.watchLineName{
    position: relative;
    max-width: 0px;
    max-height: 0px;
    font-size: 28px;
    top: 25px;
    right: 300px;
    white-space: nowrap;
    float: right;
    font-weight: bold;
    color: white;
    background-color: #5099FF;
}

.watchLinePhoto{
    height: 220px;
    float: right;
    background-color: white;
}
.watchLinePhotoImg{
    height: 220px;
    float: right;
}

.watchLineNameSmall{
    display: none;
}

.watchLineDetail{
    display: inline-block;
    white-space: nowrap;
    width: 60%;
}

.watchLineInfo{
    display: inline-block;
}

.box{
    display: block;
    margin-top: 15px;
}

.boxName{
    color: white;
    font-weight: bold;
    font-size: 18px;
    //padding-left: 20px;
}
.boxContent{
    color: white;
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 260px;
    max-width: 260px; 
    line-height: 24px;
}
.boxContents{
    display: table;
    margin-left: 30px;
    min-width: 520px;
     
}
.boxContent a{
    color: white;
}

.box:nth-child(n+3) {
    display: none;
}

@media (max-width:979px) {
    .watchLineNameSmall{
        display: block;
        color: white;
        font-weight: bold;
        font-size: 22px;
        position: relative;
        top: 10px;
        text-align: center;
    }
    .watchLineInfo{
        display: none;
    }
    .watchLineDetail{
        width: 100%;
    }
    .watchLine{
        height: 220px;
    }
    .boxContents{
        margin-left: auto;
        margin-right: auto;
    }
    .boxName{
        padding-left: 0px;
        text-align: center;
    }
}