﻿#songPropsContainer{
    position: absolute;
    display: inline-block;
    height: 80%;
    min-height: max-content;
    width: 80%;
    min-height: 400pt;
    transition: 0.5s;
    z-index: 10;
    
    border-style: solid;
    border-width:  5px 5px 5px 0;
    border-color: rgba(255, 255, 255, 0.5);
    background:
    linear-gradient(  45deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) bottom left /50% 50%,
    linear-gradient( -45deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) bottom right/50% 50%,
    linear-gradient( 135deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) top left    /50% 50%,
    linear-gradient(-135deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) top right   /50% 50%,
    #5099FF;
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 0, #fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 65px, #fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 0, #fff 0) top left,
       linear-gradient(-135deg, transparent 0 65px, #fff 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;

}
.songProps{
    z-index: 2;
    margin-top: 5%;
    display: inline-flex;
    color: white;
    width: 60%;
    height: 95%;
    margin-left: 20%;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;

}
.songPropsItem{
    width: 100%;
}
/* #openMenuBtn{
    display: none;
} */
.songEditAreaContainer {
    position: relative;
    display: block;
    margin: 2% auto 0 auto;
    height: 500pt;
    width: 90%;
    min-width: max-content;
    border-style: groove;
    padding: 2% 3%;
    white-space: pre-wrap;

}
.songEditArea {
    all: unset;
    position: relative;
    display: inline-block;
    resize: none;
    width: 100%;
    height: 100%;
}
.isEditBtn {
    background-color: #5099FF;
    padding: 5px;
    border-style: groove;
    margin: 2% auto;
    display: flex;
    width: max-content;
    height: 30px;
    cursor: pointer;
    text-align: center;
    align-items: center;

}
.whiteInput{
    background-color: white;
    border: none;
    height: 15pt;
    margin-right: 3%;
    width: 70%;
    margin-bottom: 1pt;

}
#publicable{
    width: 80%;
    height: 30pt;
    transform: skew(0deg);
}
#songPropsForm{
    width: 95%;
    height: 95%;
    display: inline-block;
}

@media (min-width:961px)  {     
#songPropsContainer{width: 25%;}
.songEditAreaContainer{width: 40%;}
}
