#editor{
    height: 100%;
}
.editAreaEditor{
    display: block;
    position: relative;
    width: 90%;
    max-width: 900px;
    border-style: groove;
    padding: 2% 3%;
    z-index: 1;
    margin: 2% auto 0 auto;
}
.menuEditor{
    display: block;
    position: absolute;
    height: 80%;
    width: 80%;
    min-height: 400pt;
    transition: 0.5s;
    z-index: 10;

    border-style:solid;
    border-width:  5px 5px 5px 0;
    border-color: rgba(255, 255, 255, 0.5);
    background:
    linear-gradient(  45deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) bottom left /50% 50%,
    linear-gradient( -45deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) bottom right/50% 50%,
    linear-gradient( 135deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) top left    /50% 50%,
    linear-gradient(-135deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) top right   /50% 50%,
    #5099FF;
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 0, #fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 65px, #fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 0, #fff 0) top left,
       linear-gradient(-135deg, transparent 0 65px, #fff 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;

         /*to not loose selection*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
.verse{
    display: block;
    margin-bottom: 5%;
    width: 100%;
}
.row{
    display: block;
    margin-bottom: 14pt;
    white-space: pre;
}
#editorSendingButtonContainer{
    width: 20%;
    margin: 2% auto;
    text-align: center;

}
.chordForms{
    width: max-content;
    padding-bottom: 4%;
}
.menuProps{
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    margin-left: 40pt;
    font-size: 14px;
}
.menuProps .whiteButton{
    width: max-content;
}
#editorContent{
    position: relative;
    width: 100%;

}

@media (min-width:961px)  {      
.menuEditor{width: 25%;}
.editAreaEditor{width: 50%;
margin-left: 35%;}
}
@media (min-width:1281px) {
    .editAreaEditor{width: 40%;
        margin-left: 25%;}
   
   }