.menuItems{
    display: flex;
    margin-top: 5pt;
    font-size: 1.3em;
    /*to not loose selection*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
