.authorList{
    margin: 2% auto;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;

}
.authorLink{
    display: inline-block;
    text-decoration: none;
    color: #5099FF;
    margin-bottom: 5pt;

}
.authorLink:hover{
    text-underline-offset: 4pt;
    text-decoration: underline;
    text-decoration-thickness: 2pt;
}
#authorFilters{
    display: inline-block;
    margin-top: 50pt;
    margin-left: 5%;
    width: 10%;
}