#songListContainer{
    font-size: 1.2em;
}
.songList{
    margin: 2% auto;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.songLink{
display: inline-block;
text-decoration: none;
margin-bottom: 5pt;
color: #5099FF;
}
.songLink:hover{
    text-underline-offset: 4pt;
    text-decoration: underline;
    text-decoration-thickness: 2pt;
}
#songGroups{
    display: flex;
    width: 70%;
    margin: 3% auto;
    cursor: pointer;
    justify-content: space-between;
}
.songGroupsItem{
    width: 15%;
    height: 15pt;
    font-size: 10pt;
    min-width: max-content;
    max-width: 100pt;
}
#sortBy{
    height: 30pt;
    width: 80%;
    transform: skew(0deg);
}

#songFilters{
    display: inline-block;
    margin-left: 5%;
    width: 10%;
}
#pageNumbers{
    width: max-content;
    margin: 2% auto;
}
.pageNumber{ /* items of pagenumbers */
margin-right: 4pt;
color: #5099FF;
cursor: pointer;
font-size: 1.15em;
}
.pageNumber:hover{
    text-decoration: underline;
}
@media (min-width:961px)  {
    .songGroupsItem{font-size: 11pt;}
   }