.artistsList{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.basicContent{
    text-align: center;
}

.basicContent a{
    font-size: 18px;
    color: #5099FF;
    line-height: 28px;
}

.selectPage{
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
}
.songMenu{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;  
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 25px;
    line-height: 21px !important;
    
}
.songMenu p {
    line-height: 21px !important;
    margin: 0px;
    padding: 0px;
}

.one{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    padding-bottom: 0px;  
}
.two{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding-bottom: 0px;  
}

@media (max-width:980px) {
    .artistsList{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        font-size: 22px;  
    }
    .artistsList a{
        font-size: 22px;  
    }
    .songMenu{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;  
        font-size: 28px;
    }
    .songMenu{
        font-size: 24px;
    }
    
}

#hiddenText{
    display: none;
}


#songEdit{
    resize: none;
    background-color: white;
    width: 700px;
    height: 250px;
    overflow: scroll;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 200px;
    right: 0;
    bottom: 30px;
    z-index: 120;
}
.paper{
    -webkit-box-shadow: -1px -1px 5px 5px rgba(48, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 5px 5px rgba(48, 50, 50, 0.75);
    box-shadow:         -1px -1px 5px 5px rgba(48, 50, 50, 0.75);
    width: 210mm;
    max-height: 287mm;
    margin-bottom: 20px;
    padding-bottom: 20mm;
    text-align: left;
    font-family: "Lucida Console", Monaco, monospace; 
    margin-left: auto;
    margin-right: auto; 
    float: left; 
}
#paperHeader{
    position: relative;
    top: 10mm;
    width: 190mm;
    margin-top: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    font-size: 18px;
    white-space:nowrap;
}
#paperHeader .left{
    height: 20px;
    width: 0px;
}
#paperHeader .right{
    height: 20px;
    text-align: right;
    width: 0px;
}
#paperHeaderSmall{
    width: 190mm;
    margin-left: 10mm;
    margin-right: 10mm;
    font-size: 12px;
    position: relative;
    top: 10mm;
}
#paperHeaderSmall .left{
    height: 16px;
    width: 150px;
}
#paperHeaderSmall .center{
    height: 16px;
    text-align: center;
}
#paperHeaderSmall .right{
    height: 16px;
    text-align: right;
    width: 150px;
}
.tabs{
    width: 190mm;
    margin-left: 10mm;
    margin-right: 10mm;
    font-size: 14px;
    position: relative;
    top: 10mm;
}
.chords{
    width: 190mm;
    margin-left: 20mm;
    margin-right: 10mm;
    font-size: 14px;
    position: relative;
    top: 10mm;
    font-weight: bold;
    line-height: 14px;
}
.verse{
    width: 190mm;
    margin-left: 10mm;
    margin-right: 10mm;
    font-size: 14px;
    position: relative;
    top: 13mm;
    text-decoration: none;
    font-weight: normal;
    line-height: 16px;
    
}
chord{
    font-weight: bold;
    vertical-align: bottom;
}
#importance{
    width: 170px;
}
#help{
    position: fixed;
    top: 0px;
    height: 90%;
    left: 50%;
    margin-left: -500px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 1000px;
    font-family: Courier;
    background: white;
    -webkit-box-shadow: -1px -1px 23px 15px rgba(48, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 23px 15px rgba(48, 50, 50, 0.75);
    box-shadow:         -1px -1px 23px 15px rgba(48, 50, 50, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-y: auto;
    padding: 20px;
    z-index: 156;
}
#hiddenText{
    display: none;
}
verse{
    font-weight: bold;
}
#checkImg{
    width: 20px;
    position: relative;
    top: 5px;
}
.yesNo{
    width: 40px !important;
    background-color: red;
}
h4{
    line-height: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}
.seznTable{
    width: 800px;
}
.captcha{
    width: 175px;
    float: left;
    margin-right: 10px;
}
#rightPanelInside{
    width: 460px;
    float: right;

}
#leftPanelInside{
    width: 360px;
}
#dest{
    position: relative;
    top: 20px;  
    margin: auto;
    width: 210mm;
    float: left;
}
.spacerBig{
    height: 230px;
}
.addMenuItem{
    width: 140px;
    float: left;
    line-height: 40px;
    min-height: 40px;
    display: inline-block;
}
#intrepret{
    display: inline-block;  
}
.interpretField{
    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
}
.artistLink{
    color: black !important;
    font-size: 1em !important;
}
.artistLink:hover{
    border-bottom: 3px solid #5099FF;
}