.bookGenContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250pt;
    height: 200pt;
    margin: 20pt auto;
}
.bookGenSubmitButton{
    width: 50%;
    height: 30pt;
    margin: 0 auto;
}
