#songMenu{
    /* width: 10%;
    border-style: groove;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5% 10%; */
    display: inline-block;
    position: absolute;
    height: 80%;
    width: 0px;
    visibility: hidden;
    transition: 0.5s;
    z-index: 10;

    border-style:solid;
    border-width:  5px 5px 5px 0;
    border-color: rgba(255, 255, 255, 0.5);
    background:
    linear-gradient(  45deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) bottom left /50% 50%,
    linear-gradient( -45deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) bottom right/50% 50%,
    linear-gradient( 135deg, rgba(255, 255, 255, 0.5) 0 0px,transparent 0) top left    /50% 50%,
    linear-gradient(-135deg, rgba(255, 255, 255, 0.5) 0 70px,transparent 0) top right   /50% 50%,
    #5099FF;
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 0, #fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 65px, #fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 0, #fff 0) top left,
       linear-gradient(-135deg, transparent 0 65px, #fff 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;

}

.songArea{
    margin: 2% auto;
    position: relative;
    width: 90%;
    max-width: 900px;
    border-style: groove;
    padding: 2% 3%;
    z-index: 1;
    font-size: 10pt;

}
.sendingButton{
    position: absolute;
    top: 650px;
    left: 90%

}
.songHeader{
    margin-bottom: 14pt;
}
.songHeaderMain{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1pt;
    border-bottom: 0.5px solid ;
    font-weight: bold

}
.songHeaderSub{
    display: flex;
    justify-content: space-between;
    font-size: 75%;

}
.chordForms{
    width: max-content;
    padding-bottom: 4%;
}
.sign{
    position: absolute;
    z-index: 6;
    white-space: pre-wrap;
}
.chordSign{
    font-weight: bold
}
.verseSign{
    font-size: 1.1em;
    font-weight: bold
}
.dynSign{
    font-size: "1.5em";
    letter-spacing: "-2pt"
}
rep{
    display: inline-block;
    padding-left: 0.25ex;
    padding-right: 0.25ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
}

.openMenuBtnClass{
    position: absolute;
    padding: 2px;
    width: 30px;
    top: 50%;
    left: 20px;

}
.openMenuBtnClass:hover, .openMenuBtnClass:active{
background-color: #5099FF;
}

.mobileOpenMenu{
    width: 30%;
    margin-left: 2%;
}

#closeSongMenu{
    all: unset;
    width: 5%;
    height: 85%;
    margin-top: 50px;
    cursor: pointer;
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
}
#closeSongMenu:hover, #closeSongMenu:active{
    background-color: #5099FF;
}

#songMenuProps{
    width: 90%;
    margin: 30% auto;
    display: inline-flex;
    flex-direction: column;


}
#songMenuProps .whiteButton{
    width: 90%;
    height: 30pt;
    font-size: 12pt;
    margin: 5pt auto;
}

@media (min-width:320px)  {
     /* smartphones, iPhone, portrait 480x320 phones */ 

    }
@media (min-width:481px)  {
}
@media (min-width:641px)  {
     /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
     .songArea{font-size: 12pt;}
    }
@media (min-width:961px)  {     
    /* tablet, landscape iPad, lo-res laptops ands desktops */
.songArea{width: 60%;}    
}
@media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */ 
    
    }
@media (min-width:1281px) {
     /* hi-res laptops and desktops */
    
    
    }