.addBoxRight{
    display: none;
}

.addBoxRight_s{
    width: 150px;
    height: 400px;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    right: 0px;
    display: inline;
}

.addBoxLeft{
    left: 0px;
}

.responsiveAddBox{
    display: none;
}

@media (min-height:950px) {
    .addBoxRight{
        width: 150px;
        height: 600px;
        position: absolute;
        top: 50%;
        margin-top: -300px;
        right: 0px;
        display: inline;
    }
    
    .addBoxLeft{
        left: 0px;
    }
    .addBoxRight_s{
        display: none;
    }
}  
@media (max-width:1125px) {
    .addBoxLeft{
        display: none;
    }
    .addBoxRight{
        display: none;
    }
    .addBoxRight_s{
        display: none;
    }
    .responsiveAddBox{
        display: block;
        width: 90%;
        padding-left: 25px;
        padding-right: 25px;
        min-width: 470px;
        height: 150px;
        margin: auto;
        overflow: hidden;
    }

}