.usersContainer{
    display: flex;
    margin: 20px auto;
    width: 50%;
    border-style: groove;
    justify-content: space-between;
}
@media only screen and (max-width: 900px){

    .usersContainer{
        width: 95%;
    
    }
    
    }