body {
  margin: 0;
  font-family: "Trebuchet MS", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;

}
html {
  height:100%;
  width:100%;
}
.childrenDiv {
  height: 100%;
  width: 100%;
}

.whiteButton, .blueButton{
  
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    height: 20pt;
    min-width: 20pt;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    padding: 2% 2%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 0;
    transform: skew(20deg);
  }
  
  .whiteButton:hover,
  .blueButton:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .whiteButton:hover,
  .blueButton:hover {
    transform: translateY(-1px);
  }
  
  .whiteButton:active,
  .blueButton:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  .whiteButton  p, .blueButton p{
    padding: 0;
    margin: 0;
    transform: skew(-20deg);
}
.blueButton{
  background-color: #5099FF;
  color: white;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 15;
  width: 100%;
}

.dropdown-content button {
  text-decoration: none;
  display: block;
  cursor: pointer;
  min-width: 200px;
}

.dropdown-content button:hover{background-color: #f1f1f1}

.dropdown:hover  .dropdown-content, .dropdown:active .dropdown-content {
  display: block;
}

