.loginPopup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
}

.authMenu {
    width: 80%;
    max-width: 300pt;
    height: 400pt;
    margin: 10% auto;
    border-style: solid;
    border-color: #5099FF;
    background-color: white;
    padding: 2%;
}


.exitButton {
    float: right;
    padding: 10px 10px;
    background-color: #5099FF;
    color: white;
}
.loginForm{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.exitButton:hover, .exitButton:active{
    background-color: rgba(80, 153, 255, 0.5);
}

@media (min-width:641px)  {
    .authMenu {
        width: 60%;
    }
}
@media (min-width:961px)  {     
    .authMenu {
        width: 20%;
    }
}