﻿<!DOCTYPE html>
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<title>Blivník</title>
<div id="root"></div>

<script src="~/dist/bundle.js"></script>



