.basicContent{
    width: 85%;
    min-width: 450px;
    margin: auto;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
    
}

.basicContent a{
    color: #5099FF; 
}

.basicSpacerSmall{
    display: block;
    height: 20px;
    width: 100%;
}

@media (max-width:1125px) {
    .basicContent{
        width: 90%;
    }
}
.basicWrapper{
    min-height: 100%;      
    padding-bottom: -50px; 
}

.narrow{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.basicContent .center{
    text-align: center;
    margin-left: 0px;
}

.basicContent h1{
    text-align: center;
    margin-left: 0px;
}