body{
    margin: 0px;
    font-family: "Trebuchet MS", "Arial", sans-serif;    /*TrebuchetMS Verdana*/
}

html, body {  
  height: 100%;
}

input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  
}

input[type="password"] {
  padding: 10px;
  border: solid 5px #c9c9c9;  
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #5099FF;
  transition: border 2s;
  font-weight: bold;
}

input[type="password"]:focus,
input[type="password"].focus {
  border: solid 5px #5099FF;
  transition: border 2s;
  font-weight: bold;
}

select {
  padding: 10px;
  border: solid 5px #c9c9c9;
  
}

select:focus,
select.focus {
  border: solid 5px #5099FF;
  transition: border 2s;
  font-weight: bold;
}
input{
    font-family: "Trebuchet MS", "Arial", sans-serif;    /*TrebuchetMS Verdana*/
}

input[type="submit"]{
    border: solid 5px #5099FF;
    padding: 7px;
    padding-bottom: 8px;
    color: white;
    font-size: 18px;
    background-color: #5099FF;   
}




input[type="checkbox"] {
    opacity: 0;
    position: absolute;   
}

input[type="checkbox"], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

label {
    position: relative;
}

input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: -4px; left: 6px;
    font-size: 28px;
    font-weight: bold;

}

input[type="checkbox"]:checked{
    border: solid 5px #5099FF;
    transition: border 2s;  
}

input[type="checkbox"]:checked + label:before {
    border: solid 5px #5099FF;
    transition: border 2s; 
}

input[type="checkbox"] + label:before {
    content: '';
    background: #fff;
    border: solid 5px #c9c9c9; 
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}


label:before{
    position: relative;
}

input[type="checkbox"]:focus + label{
}



a{
    text-decoration: none;
    color: white;
}

h1{
    margin-left: 50px;
}
h2{
    font-size: 18px;
}
.central{
    margin: 0px;
    text-align: center;
}

.red{
    border-color: red !important;
}