.footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    background-color: #5099FF;
    line-height: 50px;
    vertical-align: middle;
    font-size: 18px;  
    min-width: 520px;  
}

.footerSign{
    float: left;
    margin-left: 6%;
}

.footerContact{
    margin-right: 6%;
    text-align: right;
}

@media (max-width:979px){
    .footer{
        font-size: 15px;
    }
}