a {
    text-decoration: none;
    color: unset;
    /*to not loose selection*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.star-ratings-css {
        color: #ddd;
        font-size: 30px;
        height: 35px;
        width: max-content;
        margin-left: 70%;
        position: relative;
        padding: 0;
        text-shadow: 0px 1px 0 #a2a2a2;
    display: inline-block;
}
.top {
    color: gold;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.bottom {
    padding: 0;
    display: block;
    z-index: 0;
}