﻿ 
  
.navMenu{
  display: flex;
  width: 92%;
  min-height: 70pt;
  padding: 0 4%;
  background-color: #5099FF;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  box-shadow : 0 -4px 4px 0px white inset;
}

.logo{
  height: 50pt;
}
#searchDropdown{
  width: 100%;
  z-index: 15;
}

/*#region Search*/


#search{
  all:unset;
  background-color: white;
  height: 30pt;
  width: 100%;

}
.searchResult{
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.searchResult:hover{
  background-color: rgba(80, 153, 255, 0.5);

}
#searchResultsContainer{
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.searchSongName{
 font-weight: bold;
}
.searchHighlight{
  display: none;
  font-size: 0.8em;
}

/*#endregion */


.dropbtn_Nav {
  color: black;
  height: 40pt;
  border: none;
  cursor: pointer;
  box-shadow : 2px 2px 2px 0px black;
}


.dropdown_Nav {
  position: relative;
  display: inline-block;
}

.dropdown-content_Nav {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150pt;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}

.dropdown-content_Nav div {
  color: black;
  padding: 10pt 12pt;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content_Nav div:hover {background-color: #f1f1f1}

.dropdown_Nav:hover .dropdown-content_Nav {
  display: block;
}
.navMenuItem{
  margin-bottom: 10pt;
}




.navLink{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 18pt;
  padding: 0 1rem;
  height: 70%;
  cursor: pointer;
  }
.navLink:hover, .navLink:active{
  text-underline-offset: 6pt;
  text-decoration: underline;
  text-decoration-thickness: 3pt;

}

@media (min-width:961px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .navMenu{
    flex-direction: row-reverse;
  }
  .logo{
    margin-left: 3%;
  }
  #searchDropdown{
    margin-right: auto;
    margin-left: 5%;
    width: 20%;
  }
  #searchResultsContainer{
    min-width: unset;
    max-width: 40%;
  }
  .dropdown_Nav{
    margin-left: 4%;
  }
  .navMenuItem{
    margin-bottom: 0pt;
  }
  .searchHighlight{
    display: block;
  }
 }



  
  

