#homePage{
    font-size: 1.2em;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
#popularSongs{
    width: 30%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    min-width: max-content;

}
#recentSongs{
    width: 30%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    min-width: max-content;
}
.songLink{
display: inline-block;
text-decoration: none;
margin-bottom: 5pt;
color: #5099FF;
}