.topPanel{
    height: 75px;
    min-height: 50px;
    width: 100%;
    display: inline-block;
    margin: 0px;
    min-width: 520px;
    z-index: 255;
}

.topLogo{
    float: left;
    margin-left: 5%;
}
.topPanelRight{
    display: flex;
    float: right;
    flex: 1; 
    height: 75px;
    max-height: 75px;
    margin-right: 5%;
}

.topLogoImg{
    height: 64px;
    width: 190px;
    vertical-align: middle;
    
}
/*menu small size*/ 
@media(max-width:1099px){
    .topPanelRight{
        width: 220px;
    }
    
    .menuItemFirst{
        color: black;
        font-size: 24px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 3px;
        text-decoration: none;
        font-family: "Trebuchet MS", "Arial", sans-serif;    /*TrebuchetMS Verdana*/
        border: 0px;
        min-width: 160px;
    }
    
    .menuItemFirstText{
        position: relative;
        left: 30px;

    }
    
    .menuItemFirst:hover .menuItemFirstText{
        border-bottom: 3px solid #5099FF;      
    }
    
    .menuItemFirst:hover .menuItem a{
        color: black;
        font-size: 24px;
        line-height: 40px;
        margin-top: 15px;
        white-space: nowrap;
        font-family: "Trebuchet MS", "Arial", sans-serif;    /*TrebuchetMS Verdana*/
        border: 0px;
        z-index: 255;
    }
    .menuItemFirst:hover .menuItem a:hover{
        border-bottom: 3px solid #5099FF;
    }
    
    .menuItemFirst ul{
        display: none;
    }
    
    .menuItemFirst:hover ul{
        display: block;
    }
    
    .topMenuUl{ 
        display: flex; 
        flex: 1;  
        list-style-type: none;
        padding-left: 0px; 
        border: 0px;
        position: relative;
        background-color: white;
        z-index: 255;
    }
    .topUl{
        list-style-type: none;
        border: 0px;
        display: flex; 
        flex: 1;  
    }
    .menuItem{
        text-align: center;
        min-width: 160px;
    }
    nav{
        width: 160px;
    }
}

/*menu big size*/
@media (min-width:1100px){
    .topMenuUl{ 
        display: flex; 
        flex: 1;  
        list-style-type: none;
        border: 0px;
    }
    .menuItemFirst{
        margin: 0px;
        padding: 0px;  
    }
    
    .menuItemFirstText{
        display: none;
    }
    
    .topUl{
        float: left;
        list-style-type: none;
        border: 0px;
        display: flex; 
        flex: 1;
        padding: 0px; 
    }
    
    .topMenuUl .menuItem a{
        color: black;
        font-size: 18px;
        line-height: 25px;
        float: right;
        margin-right: 15px;
        margin-left: 10px;
        margin-top: 10px;
        white-space: nowrap;
        font-family: "Trebuchet MS", "Arial", sans-serif;    /*TrebuchetMS Verdana*/
        border: 0px;
    }
    
    .topMenuUl .menuItem a:hover{
        border-bottom: 3px solid #5099FF;
    }
}

.searchButton{
    display: block; 
    min-width: 40px;
}

.searchButtonSpacer{
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    height: 70px;
}

.searchButtonImg{
    height: 30px;
    margin-top: 20px; 
    margin-left: 10px;
    cursor: pointer; 
}

.search{
    display: none;   
}

.searchForm{
    margin: auto;
    width: 60%; 
    z-index: 1; 
    min-width: 520px; 
    margin-bottom: 15px;
}

.searchBox{
    min-width: 260px;
    width: 60%;
    display: flex; 
    flex: 1;
    float: left;
    margin-right: 25px;
}
.searchSubmit{
    width: 150px;
}

/* register form */
.basicForm{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    border: solid 5px #5099FF;
    background-color: white;
    z-index: 20;
    box-shadow: 0px 0px 0px 5px white;
    -webkit-box-shadow: 0px 0px 0px 5px white;
    -moz-box-shadow: 0px 0px 0px 5px white;
    -o-box-shadow: 0px 0px 0px 5px white;
    display: none;
}

.basicFormClose{
    width: 0;
    height: 0;
    position: relative;
    font-size: 26px;
    left: 95%;
    top: -1%;
}

.registerForm{
    width: 40%;
    min-width: 520px;
    height: 60%;
    min-height: 650px;
    padding: 15px;
}

.registerFormTitle{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.registerFormItem{
    width: 100%;
    float: none;
    display: flex; 
    flex: 1;
    padding-top: 5px;
}

.itemText {
    float: left;
    width: 150px;
}

.registerFormItem .itemInputDiv{
    float: left;
    display: flex; 
    flex: 1;  
}

.registerFormItem .itemApproved{
    width: 50px;
    height: 50px;
    float: right;
}
.registerFormItem .itemApprovedImage{
}


.registerFormItem .itemInput{
    display: flex; 
    flex: 1;
    margin-right: 15px;   
}
.basicForm a{
    color: #5099FF;
}

.registerFormLicence{
    width: 100%;
    text-align: center;
}
.registerFormLicence h2{
    margin-top: 5px;
    margin-bottom: 5px;
}   
.registerFormSubmit{
    margin-top: 0px;
}
  
  
@media (max-height:580px){
    .basicForm{
        position: absolute;
        top: 0px;
        left: 0px; 
    }
}

.loginForm{
    width: 40%;
    height: 320px;
    padding: 15px;
}

.registerFormSuccess{
    width: 40%;
    height: 70px;
    
}